* {
    margin: 0px;
    padding: 0px;
}

.heading{
    display: flex;
    align-content: center;
    justify-content: center;
    margin-top: 20px;
}

.heading > h1{
    color: darkslategray;
    font-family: sans-serif;
}

.row > img{
    height: 100px;
    width: 100px;
    margin: 10px;
}

.container{
    display: flex;
    flex-direction: column;
}

.row{
    margin: 10px 0px;
}

#row1{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: mediumturquoise;
}

#row2{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #d6a6b3;
}

#row3{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.page{
    width: 700px;
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0%);
    background-color: whitesmoke;
}

.footing{
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 10px;
}

.footing > p{
    color: silver;
    font-family: sans-serif;
    min-height: 40px;
}